<html>
  <head>
    <title>Todo</title>
  </head>
  <body>
    <div> <!--Our header/navigation bar-->
      Todo:
      <a href="/">Home</a>
      {% if session['logged_in'] %}
        <a href="/logout">Logout</a>
        Hello, {{session['username']}}
      {% else %}
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
      {% endif %}
    </div>
    {% block content %}{% endblock %}
    <footer style="position: absolute; bottom: 10">
      Tutorial made by Jynnie. Copyright 2017. Open source.
    </footer>
  </body>
</html>
